.header-outer-container{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20,20,20);
  background-color: transparent;
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  background-color: black;
}
.netflix-logo{
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
}
.header-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left ul{
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left ul li{
  list-style: none;
  cursor: pointer;
}
.header-right ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.header-right ul li{
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  row-gap: 5px;
}
